
<li>
    <a class="page-scroll" data-toggle="tooltip" data-placement="bottom" title="חיפוש"><i class="fa fa-search" aria-hidden="true"></i></a>
</li>
<li>
    <a href="/home/help" class="page-scroll" data-toggle="tooltip" data-placement="bottom" title="עזרה"><i class="fa fa-question" aria-hidden="true"></i></a>
</li>