@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container first">
<h1 class="text-danger">@ViewBag.ErrorTitle</h1>
<h2 class="text-danger">@ViewBag.ErrorMessage</h2>

</div>