
@{
    ViewBag.Title = "Unauthorized";
}

<div class="container first">
    <h2>Unauthorized</h2>
    <div>
        You are not authorized to view this page.<br />
        <a href="/">Return home.</a>
    </div>
</div>
