@model List<ButiqueShops.Models.Shops>

@{
    ViewBag.Title = "Shops - חנויות";
}

<div class="container first">
    <h2>Shops - חנויות</h2>
    @for (int i = 0; i < Model.Count; i++)
    {
        var shop = Model[i];
        if (i % 2 == 0)
        {
            @:<div class="row">
        }
        <div class="col-sm-6">
            <a href="/galleries/shop?id=@shop.Id">
                <img class="img-responsive imgLogo" src="@shop.LogoPath"/>
            </a>
        </div>
        if (i % 2 == 1)
        {
            @:</div>
        }
    }
</div>

@section Scripts{

    <link rel="stylesheet" href="~/Content/Galleries/gallerystyle.min.css" />
}
