<div class="container first">
    <header>
        <h2>Profile Screen</h2>
    </header>
    <section class="row">
        <div class="col-md-3"><a href="/Shop/AdminShopList">Shops List</a></div>
        <div class="col-md-3"><a href="/Roles/index">Roles List</a></div>
        <div class="col-md-3"><a href="/UserRoles/Index">User Roles List</a></div>
        <div class="col-md-3"></div>
    </section>
</div>