@model ButiqueShops.Models.AspNetUsers
<div class="container first">
    @if (User.IsInRole("Administrator"))
    {
        ViewBag.Title = "Administrator";
        <div class="row">
            <header>
                <h2>Administrator Profile Screen</h2>
            </header>
            <section class="row">
                <div class="col-md-3"><a href="/Shops/index">Shops List</a></div>
                <div class="col-md-3"><a href="/Items/Index">Items List</a></div>
                <div class="col-md-3"><a href="/Roles/index">Roles List</a></div>
                <div class="col-md-3"><a href="/UserRoles/Index">User Roles List</a></div>
            </section>
            <section class="row">
                <div class="col-md-3"><a href="/Colors/index">Colors List</a></div>
                <div class="col-md-3"><a href="/Sizes/Index">Sizes List</a></div>
                <div class="col-md-3"><a href="/ItemsToSubmit/Index">Items To Submit</a></div>
                <div class="col-md-3"></div>
            </section>
        </div>
    }
    else if (User.IsInRole("Shop Owner"))
    {
        ViewBag.Title = "Shop Owner";
        <div class="row">
            <header>
                <h2>Shop Owner Profile Screen</h2>
            </header>
            <section class="row">
                <div class="col-md-4"><a href="/Galleries/ShopsList?ownerid=@Model.Id">Shops List</a></div>
                <div class="col-md-4"><a href="/ItemsToSubmit/Index">Items To Submit</a></div>
                <div class="col-md-4"><a href="/Galleries/ItemsList?ownerid=@Model.Id">Shops Items</a></div>
            </section>
        </div>
    }
    else
    {
        ViewBag.Title = "Profile";
        <div class="row">
            <header>
                <h2>Shop Owner Profile Screen</h2>
            </header>
        </div>
    }
    <div class="row" style="margin-top:15px;">
        <header>
            <h2>Items</h2>
        </header>
        <section class="row">
            <div class="col-md-6"><a href="/Galleries/ItemsList?userliked=@Model.Id">Items Liked</a></div>
            <div class="col-md-6"><a href="/Galleries/ItemsList?uservisited=@Model.Id">Items Visited</a></div>
        </section>
        <header>
            <h2>Shops</h2>
        </header>
        <section class="row">
            <div class="col-md-6"><a href="/Galleries/ShopsList?userliked=@Model.Id">Shops Liked</a></div>
            <div class="col-md-6"><a href="/Galleries/ShopsList?uservisited=@Model.Id">Shops Visited</a></div>
        </section>
    </div>
</div>