@{
    ViewBag.Title = "About";
}

<div class="container first">
    <h4> קצת עלינו  </h4>
    <div class="peregraf  ">
        <p>
            האתר  PulPo מביא לכן- חובבות אופנה יקרות,  גישה נוחה לפריטים מבוטיקים ודוכני אופנה.

            <br> החזון שלנו הוא לאפשר לכן את הנוחות שבחיפוש פריטי אופנה מחנויות שאינן רשתות אופנה ולא תמצאו עליהן מידע ברשת
            <br>כדי לממש את חזוננו אנו משתפים פעולה עם חנויות בוטיק מבטיחות המציעות את פריטי האופנה שלהם באתרנו
            !מבחינתנו השמיים הם הגבול והכל למענכן  <br>
            <br>

            באמתחתנו עוד שלל חידושים עתידיים, כמו, שיתופי פעולה עם בוטיקים נוספים, הרחבת מגוון סוגי הפריטים להצגה
            <br>ואפשרויות רכישה נוספות. יש למה לצפות...
            <br>
            <br>
            <br>
            <span class="line">
                שם האתר
            </span>
            <br>  לכל הגולשים היקרים שתהו לגבי מקור השם, הנה הסבר קצר-
            בשפה הספרדית פירוש המילה PulPo הוא תמנון<br> והרי גם אנחנו בדומה לPulPo, אוספים למענכם פריטים
            ומציגים לכם אותם במקום אחד

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h4>  אם הנכם גולשים המעוניינים לשאול שאלות נוספות או אם  אתם בעלי בוטיקים המעוניינים להיות חלק ממשפחת PulPo   אתם מוזמנים ליצור קשר  </h4>
            <h4> <a href="mailto:pulpoblog@gmail.com">pulpoblog@gmail.com  </a> </h4>

        </p>


    </div>
</div>


@section Scripts{
    <link rel="stylesheet" href="~/Content/Home/Help.min.css" />
    <link rel="stylesheet" href="~/Content/Home/About.min.css" />
}