@{
    ViewBag.Title = "Help";
}

<div class="container first">
    <h4>PULPO ברוכים הבאים לאתר </h4>
    <div class="peregraf">
        <p>
            באתרינו תוכלו להתרשם אודות מידע ורכישה של פירטי אופנה מחנויות בוטיק
            <br>פורסת לפניכן  מגוון פריטים מחנויות בוטיק שלא בהכרח שמעתן את שמן , אצלנו ניתנת לכן הזדמנות להכיר לאהוב ולהתחדש PULPO
            <br> דף זה נועד להפוך את חווית הגלישה באתר לנוחה, לפניכם שאלות נפוצות לעזר
        </p>

        <p>

            <h4>לא מצאתן את מה שחיפשתן? צרו איתנו קשר </h4>
            <a href="mailto:pulpoblog@gmail.com">pulpoblog@gmail.com</a>
        </p>

    </div>
</div>


@section Scripts{
    <link rel="stylesheet" href="~/Content/Home/Help.min.css" />
} 