@model List<ButiqueShops.Models.Items>
@{
    ViewBag.title = "Index";
}
@section Scripts{
    <script src="~/Scripts/owl-crsl/owl.carousel.min.js"></script>
    <script src="~/Scripts/index/index.js"></script>
}

<link href="~/Content/owl-crsl/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/owl-crsl/owl.theme.css" rel="stylesheet" />
<link href="~/Content/owl-crsl/owl.transitions.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/index/index.min.css" />

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- dresses Section -->
<section id="items" class="container content-section text-center">
    <div class="row">
        <div class="col-md-12">
            <h4>Dress  The  Moment</h4>

            <div id="crsl-items" class="owl-theme">
                @foreach (var item in Model)
                {
                    <div class="item"><a href="/galleries/item?id=@item.Id"><img src="@item.SmallImagePath" alt="@item.Name"></a></div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Pick Your True Colors</h2>
                <a href="/galleries/itemslist" class="btn btn-default btn-lg">View all items</a>
            </div>
        </div>
    </div>
</section>
